<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Bank - Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Digital Bank</div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
            </ul>
	</nav>
    </header>

    <main>
	    <section class="page-content">
		    <h1>Support</h1>
		    <p>Contact our support team for assistance.</p>
		    <p>If you have any questions or issues, please don't hesitate to reach out to us:

		    <br> Email: support@digitalbank.com
                         Phone: 1-800-123-4567
		         Live Chat: Available on our website
		    </br>



		    </p>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Digital Bank. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
                    <li><a href="{{ url_for('terms_of_use') }}">Terms of Use</a></li>
                    <li><a href="{{ url_for('support') }}">Support</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>

